<div class="toggle" style="position:fixed; bottom:20px; right:20px;">
    <input class="toggle-input" type="checkbox" onchange="toggleDarkMode(this.checked)"/>
    <script> setButtonState() </script>
    <div class="toggle-bg"></div>
    <div class="toggle-switch">
        <div class="toggle-switch-figure"></div>
        <div class="toggle-switch-figureAlt"></div>
    </div>
</div>