<%- include('header') -%>
<%- include('navbar') -%>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4 mt-3">
                IoT Greenhouse
            </h1>
            <h2 class="mb-4 mt-3 text-start">
                👋 Jó reggelt
            </h2>
            <div class="container mb-3 border border-success rounded-4">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="text-start">
                            Sensorbox #524352 | paradicsom
                        </h5>
                    </div>
                    <div class="col-md-4 text-end">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="mt-4 text-start border border-success rounded-4">
                            <li>
                                2023.10.08. 12:35 watering
                            </li>
                            <li>
                                2023.10.07. 04:23 heating
                            </li>
                            <li>
                                2023.10.02. 14:55 venting
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container mb-3 border border-success rounded-4">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="text-start">
                            Sensorbox #827233 | cukkini
                        </h5>
                    </div>
                    <div class="col-md-4 text-end">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="mt-4 text-start border border-success rounded-4">
                            <li>
                                2023.10.08. 12:35 watering
                            </li>
                            <li>
                                2023.10.07. 04:23 heating
                            </li>
                            <li>
                                2023.10.02. 14:55 venting
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container mb-3 border border-success rounded-4">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="text-start">
                            Sensorbox #327312 | vargánya gomba
                        </h5>
                    </div>
                    <div class="col-md-4 text-end">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                                <div class="col-md-3 border border-success rounded-4">
                                    <h2 class="mt-5 mb-5">
                                        GRAPH
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="mt-4 text-start border border-success rounded-4">
                            <li>
                                2023.10.08. 12:35 watering
                            </li>
                            <li>
                                2023.10.07. 04:23 heating
                            </li>
                            <li>
                                2023.10.02. 14:55 venting
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-success rounded-circle d-flex align-items-center justify-content-center" href="#" style="width: 74px; height: 74px;" role="button">
                    <i class="fa-solid fa-plus fa-2xl"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>